DATABASE_URL=mysql://username:password@localhost:3306/db_name
UPLOADTHING_TOKEN=`yoururl`
mysql://mysql:TbK7vt2SxCEBqF6x0ywCR2TaeMZtsw3C3dPFhnNAnAQMv3N9Vi3WAbLWRwWZzp2Y@g9qcni208thna3t9h9r4ndt4:3306/default